@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:rgb(0, 0, 0,0.5);
    position: sticky;
    top: 0;
    justify-content: space-evenly;
    height: 90px;
    padding: 10px 0px 10px 0px;
    backdrop-filter: blur(10px)
}


    

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 10px 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 30px;
    background-color: #1e90ff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
  }
  
  nav ul li a:hover {
    transform: scale(1.1);}


img{border-radius: 50px;
height:300px;
}

.imagem{flex: 0 0 200px; 
    height: 110px;
    border-radius: 50px;
    }

#img{
    display:inline-block;
    vertical-align:top;
 }  

#texto{
    display:inline-block;
} 

.container{
    
        width: 80%; 
        margin: 0 auto; 
        padding: 20px; 
        
    
}
  
body, html{
    scroll-behavior: smooth;
}

body{background-color:var(--plano-fundo);
    position: relative;
    font-family:"Barlow Condensed", sans-serif;
    font-size: large;
    text-align: center;
    background-color:var(--plano-fundo) ;
    
}

p{color:white;
    margin: 0 5%;
    line-height: 1.5;
    text-orientation: sideways;
    color: var(--cor-paragrafo);
}


h1,h2{font-family: "Red Hat Display", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    
}

::-webkit-scrollbar{width: 10px;
    background-color:black;
}

::-webkit-scrollbar-thumb{background-color: #1e90ff;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;}


    
.item {
        flex: 1;
        background-color: lightblue;
        padding: 20px;
        margin: 10px;  
    }  


section{
    display:inline-block;
    vertical-align: top;
    background-color: black;
    
    

}


section#formacao{
    
   margin:40px 40px;
    padding:8rem;
}

section#contatos{ 
    margin:40px 40px;
    padding: 50px;
    text-align: center;
    }

section#contatos ul{
    list-style: none;
}    

section#curiosidades{
    margin:40px 40px;
    padding: 5rem;
   
}

section#sobre-mim{
   margin: 40px 40px;
    padding: 3rem;
}

section#objetivo-profissional{
    margin: 40px 40px;
    padding:6rem;
}


section#cursos{
    margin:40px 40px;
    padding:6rem;
    

}
section#cursos ul li{
    list-style: none;
    color: white;
}


section#inicio{
    margin:0px 20px 40px 20px;
    padding:5rem;
    transition: transform 0.3s ease;

    
}

#inicio:hover{transform: scale(1.1)}


section#inicio h1{
    text-align: center;
}

#inicio img{
    
}

#inicio, #formacao, #sobre-mim, #objetivo-profissional, #contatos, #curiosidades,#cursos{
  padding:var(--padding-padrao-secao);
  background-color: var(--cor-fundo-tags);

}


#hardskills{
    background-color: #1ddb82;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    border-style: none;
    padding: 4px;
}

article h1{
    font-size: large;
    color: #1ddb82;
}
article h2{
    font-size: large;
    color: #1ddb82;
}

    
article{
    padding: 5px;
      margin: 5px;
    width: 30%;
     border-radius: 20px;
     overflow: hidden;
     justify-content:space-evenly;
     background-color: var(--cor-fundo-tags)
}
article h1{font-size: 18px;
margin-top: 0;
}

article p{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 1rem;
    height: 160px;
    overflow: hidden;
}
    
#artigo{
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}
   
.article-container{
    display: flex;

}

#card{
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(229,230,235);
    border-style: none;
    justify-content:space-evenly;
    transition: transform 0.3s ease;
    background-color: var(--cor-fundo-tags);
}

#card:hover {
    transform: scale(1.1)}


#card img{
    height:50px;
}


#main{
    justify-content:space-evenly;
    display: flex;
    background-color: var(--cor-fundo-tags);

}


.lista-tags li{
    display: inline-block;
    list-style: none;
    border-radius:4px;
    background-color:gray;
    padding: 5px;
    margin: 5px 0;
    color: var(---cor-primaria-texto);

}
article p{
    text-align: justify;
    margin-bottom: 1rem;
    height: 150px;
    overflow: hidden;
    color: var(--cor-paragrafo);
}

#continue-lendo{
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    color:aliceblue;
    background-color:#1ddb82;
    

}

.link{color: #1ddb82;}    

:root{
    ---cor-primaria-texto: #1ddb82;
    --cor-fundo-tags: #bebebe;
    --padding-padrao-secao: 40px;
    --planofundo: #ffffff;
}

[data-tema="dark"] {
    --plano-fundo: black;
    ---cor-primaria-texto:black;
    --cor-fundo-tags:black;
    --cor-paragrafo:white;
    --cor-titulo:

}

[data-tema="light"] {
    --plano-fundo:  #ffffff;
    ---cor-primaria-texto: #e5e6eb;
    --cor-fundo-tags: #d2d4dc;
    --cor-paragrafo:black;
}

button{color: white;
    text-decoration: none;
    padding: 8px 30px;
    background-color: #1e90ff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    transition: transform 0.3s ease;
    position: flex;

}
button:hover{ transform: scale(1.1);}


    